# Normalize line endings to LF
* text=auto eol=lf

# Treat Sail and Whisper model configs as JSON with Comments on GitHub.
**/sail.json linguist-language=JSON-with-Comments
**/whisper.json linguist-language=JSON-with-Comments
